.home{
    background: #00b09b;
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
        &__logo{
            width: 300px;
            height: auto;
        }
        &__btn{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            width: 124px;
            height: 56px;
            margin-top: 3rem;
        }
}