.start-page{
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
        &__avatar-range{
            display: flex;
            align-items: center;
            justify-content: center;
            &__content{
                position: relative;
                &.error{
                    &::after{
                        content: url("../img/error.png");
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        position: absolute;
                        top: -55px;
                        left: 5px;
                    }
                }

                button{
                    background-color: transparent;
                    border: none;
               
                }
                &__boy{
                    width: 80px;
                    height: auto;
                    &.error{
                        cursor: not-allowed;
                    }
                }
               
            }
              
        }
}